Spyfall.code-workspace
.vscode/settings.json
spyfalldb.conf
env
token.json
token.pickle
credentials.json
.DS_store 
ignore/SpyFall - Copy of Locations.csv
ignore/tblLocations.csv
ignore/test.py
ignore/Workbook1.csv
__pycache__/gmail.cpython-37.pyc
